spring:
  application:
    name=discodeit
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB
  datasource:
    url: jdbc:postgresql://localhost:5432/discodeit
    username: discodeit_user
    password: discodeit1234
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create-drop
    open-in-view: false
  properties:
    hibernate:
      format_sql: true  # SQL 쿼리 포맷팅
      use_sql_comments: true  # SQL 쿼리에 주석 추가

server:
  tomcat:
    max-http-form-post-size: 10MB

logging:
  level:
    org:
      hibernate:
        SQL: debug  # SQL 쿼리 로깅
        type:
          descriptor:
            sql: trace  # SQL 파라미터 값 로깅

discodeit:
  storage:
    type: local
    local:
      root-path: .discodeit/data

spring.web.resources.static-locations: classpath:/static/
